#register-page {
  margin: auto;
  width: 100%;

  .content {
    margin-top: 30px;
    padding: 20px;

    h1, h2 {
      color: $primary-blue;
    }

    .account-details, .personal-details {
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        color: $primary-blue;
      }

      input, select {
        width: 100%;
        height: 40px;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;

        border: 1px solid $primary-blue;

        &:focus {
          background-color: rgba(0,0,0,0.05);
        }
      }
    }

    .register-btn {
      display: inline-block;
      width: 150px;
      height: 40px;

      border: none;
      background-color: $primary-blue;
      color: #ffffff;
      font-size: 0.8em;
    }
  }
}